* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 75%;
  margin: auto;
}

header .header-top {
  background-color: #0282f9;
}
header .header-top .header-top-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 4px 0;
}
header .header-top .header-top-nav li {
  margin-left: 45px;
}
header .header-top .header-top-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 80px;
}
header nav .menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
header nav .menu li {
  margin: 0 15px;
  padding-bottom: 50px;
}
header nav .menu li.active, header nav .menu li:hover {
  border-bottom: 4px solid #0282f9;
}
header nav .menu li a {
  text-decoration: none;
  color: #56575a;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}
header nav .menu li a:hover,
header nav .menu li a span {
  color: #0282f9;
}
header nav .search {
  border-bottom: 3px solid #0282f9;
}
header nav .search input {
  text-align: right;
  width: 100px;
  border-width: 0;
  outline: none;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
}
header nav .search .search-icon i {
  vertical-align: middle;
  color: #56575a;
}
header .banner {
  height: 380px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

main .comics-section {
  background-color: #1c1c1c;
  padding-bottom: 30px;
}
main .comics-section .comics-container {
  padding: 50px 0 30px;
  position: relative;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  -moz-text-align-last: left;
       text-align-last: left;
}
main .comics-section .comics-container::before {
  content: "current series";
  display: inline-block;
  background-color: #0282f9;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  padding: 10px 25px;
  position: absolute;
  top: -25px;
  font-weight: 700;
}
main .comics-section .comics-container .single-comic {
  width: calc( 100% / 6 );
  padding: 10px;
}
main .comics-section .comics-container .single-comic .comic-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
}
main .comics-section .comics-container .single-comic .comic-title {
  margin-top: 15px;
}
main .comics-section .comics-container .single-comic .comic-title a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
main .comics-section .btn-container {
  text-align: center;
}
main .comics-section .btn-container .btn {
  background-color: #0282f9;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 25px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}
main .cta-section-bg-blue {
  background-color: #0282f9;
}
main .cta-section-bg-blue .container {
  display: flex;
  align-items: center;
}
main .cta-section-bg-blue .cta-single {
  display: flex;
  align-items: center;
  width: calc( 100% / 5 );
  padding: 40px 20px;
  color: #fff;
}
main .cta-section-bg-blue .cta-single:last-child img {
  width: 50px;
  height: auto;
}
main .cta-section-bg-blue .cta-single img {
  height: 50px;
  width: auto;
  margin-right: 20px;
}
main .cta-section-bg-blue .cta-single .cta-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
main .comic-poster {
  height: 80px;
  background-color: #0282f9;
}
main .comic-poster .container {
  position: relative;
  height: 100%;
}
main .comic-poster img {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 15px;
  left: 0;
  border: 1px solid white;
}
main .comic-presentation {
  padding: 50px 0;
}
main .comic-presentation .container {
  display: flex;
}
main .comic-presentation .comic-info {
  width: 60%;
}
main .comic-presentation .comic-info h1 {
  color: #137fad;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
}
main .comic-presentation .comic-info .price-table {
  background-color: #55ba59;
  display: flex;
  margin-bottom: 20px;
}
main .comic-presentation .comic-info .price-table .price {
  border-right: 1px solid rgba(0, 0, 0, 0.459);
  width: 65%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
}
main .comic-presentation .comic-info .price-table .price span.title {
  color: #a0f38e;
  margin-right: 5px;
}
main .comic-presentation .comic-info .price-table .price span.price-number {
  color: #fff;
  font-size: 16px;
}
main .comic-presentation .comic-info .price-table .check {
  padding: 20px;
  width: 35%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
main .comic-presentation .comic-info .comic-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.6px;
}
main .comic-presentation .advertisement {
  width: 40%;
  padding-left: 40px;
  text-align: right;
}
main .comic-presentation .advertisement .ads-warning {
  text-transform: uppercase;
  color: #797979;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
main .comic-presentation .advertisement .ads-img {
  width: 100%;
}

footer .footer-top {
  background-image: url("../img/footer-bg.jpg");
  padding: 30px 0;
  overflow: hidden;
}
footer .footer-top .container {
  display: flex;
}
footer .footer-top .footer-nav,
footer .footer-top .footer-logo {
  width: 50%;
}
footer .footer-top .footer-nav-top {
  display: flex;
}
footer .footer-top .footer-nav-col {
  margin-right: 20px;
}
footer .footer-top .footer-nav-menu {
  list-style-type: none;
  margin-bottom: 20px;
}
footer .footer-top .footer-nav-menu li a {
  color: #797979;
  text-decoration: none;
  font-size: 15px;
}
footer .footer-top .footer-nav-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
footer .footer-top .footer-nav-copyright {
  color: #797979;
}
footer .footer-top .footer-nav-copyright a {
  color: blue;
  text-decoration: none;
}
footer .footer-top .footer-logo {
  position: relative;
}
footer .footer-top .footer-logo img {
  position: absolute;
  top: -70px;
  left: 0;
}
footer .footer-bottom {
  background-color: #303030;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
footer .footer-bottom .button-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 10px 25px;
  border: 2px solid #0282f9;
  font-size: 16px;
}
footer .footer-bottom .socials {
  display: flex;
  align-items: center;
}
footer .footer-bottom .socials span {
  color: #0282f9;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
footer .footer-bottom .socials ul {
  list-style-type: none;
  display: flex;
}
footer .footer-bottom .socials ul li {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}