header {
    .header-top {
        background-color: $brand_primary_color;

        .header-top-nav {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            padding: 4px 0;

            li {
                margin-left: 45px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 10px;
                    text-transform: uppercase;
                    display: block;                    
                }
            }                        
        }
    }

    nav {
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .logo {
            width: 80px;
        }

        .menu {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding-top: 50px;

            li {
                margin: 0 15px;                              
                padding-bottom: 50px;

                &.active,
                &:hover {
                    border-bottom: 4px solid $brand_primary_color;
                }

                a {
                    text-decoration: none;
                    color: $brand_secondary_color;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: block;

                    &:hover,
                    span {
                        color: $brand_primary_color;
                    }
                }
            }
        }

        .search {
            border-bottom: 3px solid $brand_primary_color;
    
            input {
                text-align: right;
                width: 100px;
                border-width: 0;
                outline: none;
                vertical-align: middle;
                font-size: 15px;
                font-weight: 700;
            }
    
            .search-icon i {
                vertical-align: middle;
                color: $brand_secondary_color;
            }            
        }
    } 
    
    .banner {
        height: 380px;
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
    }
    
}