main {    

    // All Comics Page
    .comics-section {
        background-color: $brand_tertiary_color;
        padding-bottom: 30px;
        
        .comics-container {
            padding: 50px 0 30px;
            position: relative;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            text-align-last: left;
    
            &::before {
                content: 'current series';
                display: inline-block;
                background-color: $brand_primary_color;  
                color: #fff;
                font-size: 22px;
                text-transform: uppercase;
                padding: 10px 25px;
                position: absolute;
                top: -25px;  
                font-weight: 700;          
            }
    
            .single-comic {
                width: calc( 100% / 6 );
                padding: 10px;
    
                .comic-img {
                    height: 150px;
                    width: 150px;
                    overflow: hidden;                
                }
    
                .comic-title {
                    margin-top: 15px;
    
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                }
            }
             
        }
    
        .btn-container {
            text-align: center;            
    
            .btn {
                background-color: $brand_primary_color;  
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                padding: 10px 25px;
                font-weight: 700; 
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    .cta-section-bg-blue {
        background-color: $brand_primary_color;

        .container {
            display: flex;
            align-items: center;
        }

        .cta-single {
            display: flex;
            align-items: center;         
            width: calc( 100% / 5 );   
            padding: 40px 20px;         
            color: #fff;

            &:last-child img {
                width: 50px;
                height: auto;
            }

            img {
                height: 50px;
                width: auto;
                margin-right: 20px;
            }

            .cta-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    // Single Comic Page    
    .comic-poster {
        height: 80px;
        background-color: $brand_primary_color;

        .container {
            position: relative;
            height: 100%;
        }

        img {
            height: auto;
            width: auto;
            position: absolute;
            bottom: 15px;
            left: 0;
            border: 1px solid white;
        }
    }

    .comic-presentation {

        .container {
            display: flex;
        }

        .comic-info {
            width: 60%;

            h1 {
                color: #093f6a;
                text-transform: uppercase;
                font-size: 30px;
            }
        }

        .advertisement {
            width: 40%;
            padding-left: 30px;
        }

    }



    
    
}