main {    

    // All Comics Page
    .comics-section {
        background-color: $brand_tertiary_color;
        padding-bottom: 30px;
        
        .comics-container {
            padding: 50px 0 30px;
            position: relative;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            text-align-last: left;
    
            &::before {
                content: 'current series';
                display: inline-block;
                background-color: $brand_primary_color;  
                color: #fff;
                font-size: 22px;
                text-transform: uppercase;
                padding: 10px 25px;
                position: absolute;
                top: -25px;  
                font-weight: 700;          
            }
    
            .single-comic {
                width: calc( 100% / 6 );
                padding: 10px;
    
                .comic-img {
                    height: 150px;
                    width: 150px;
                    overflow: hidden;                
                }
    
                .comic-title {
                    margin-top: 15px;
    
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                }
            }
             
        }
    
        .btn-container {
            text-align: center;            
    
            .btn {
                background-color: $brand_primary_color;  
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                padding: 10px 25px;
                font-weight: 700; 
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    .cta-section-bg-blue {
        background-color: $brand_primary_color;

        .container {
            display: flex;
            align-items: center;
        }

        .cta-single {
            display: flex;
            align-items: center;         
            width: calc( 100% / 5 );   
            padding: 40px 20px;         
            color: #fff;

            &:last-child img {
                width: 50px;
                height: auto;
            }

            img {
                height: 50px;
                width: auto;
                margin-right: 20px;
            }

            .cta-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    // Single Comic Page    
    .comic-poster {
        height: 80px;
        background-color: $brand_primary_color;

        .container {
            position: relative;
            height: 100%;
        }

        img {
            height: auto;
            width: auto;
            position: absolute;
            bottom: 20px;
            left: 0;
            border: 1px solid white;
        }
    }

    .comic-presentation {
        padding: 50px 0;

        .container {
            display: flex;
        }

        .comic-info {
            width: 60%;

            h1 {
                color: #137fad;
                text-transform: uppercase;
                font-size: 30px;
                margin-bottom: 30px;
            }

            .price-table {
                background-color: #55ba59;
                display: flex;
                margin-bottom: 20px;

                .price {
                    border-right: 1px solid rgba(0, 0, 0, 0.459);
                    width: 65%;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;
                    font-size: 16px;

                    span.title {
                        color: #a0f38e;
                        margin-right: 5px;
                    }

                    span.price-number {
                        color: #fff;
                        font-size: 16px;
                    }
                }

                .check {
                    padding: 20px;
                    width: 35%;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .comic-description {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: .6px;
            }
        }

        .advertisement {
            width: 40%;
            padding-left: 40px;
            text-align: right;

            .ads-warning {
                text-transform: uppercase;
                color: $brand_footer_text_color;
                font-size: 18px;
                font-weight: bold;                
            }

            .ads-img {
                width: 100%;
                margin-top: 5px;
            }
        }

    }

    .comic-details {
        background-color: #f6f6f6;
        padding: 30px 0 90px;

        .container {
            display: flex;
        }

        .talent {
            padding-right: 15px
        }

        .specs {
            padding-left: 15px;
        }

        .talent,
        .specs {
            width: 50%;

            h2 {
                color: #137fad;
                font-size: 25px;
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            }

            .table {

                .row {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

                    h4 {
                        width: 30%;
                    }

                    p {
                        width: 70%;

                        a {
                            color: blue;
                            text-decoration: none;
                        }
                    }

                }                
            }
        }
    }



    
    
}